## Question - <br>Suppose you are given a data set of <a href='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'>Chipotle orders</a>. Using this data, can you make a plot showing total revenue per menu item? The solution will be written in Python code, walking through the logic/calculation. <br><br>Note, you'll probably want to classify the menu items into categories, or you'll have a very long list.

In [1]:
## Importing libraries
import pandas as pd

### Reading a tsv file using pd.read_csv with the separater/delimiter field as \t

In [2]:
df = pd.read_csv('chipotle.tsv', sep='\t')

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [9]:
print('# of category types in the menu:', len(df.item_name.unique()))

# of category types in the menu: 50

In [13]:
df.item_name.value_counts().nlargest(10)

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Chips                  211
Steak Bowl             211
Bottled Water          162
Chicken Soft Tacos     115
Chicken Salad Bowl     110
Name: item_name, dtype: int64

In [6]:
df.item_name[df.item_name.str.contains('Bowl')].value_counts()

Chicken Bowl           726
Steak Bowl             211
Chicken Salad Bowl     110
Veggie Bowl             85
Carnitas Bowl           68
Barbacoa Bowl           66
Steak Salad Bowl        29
Veggie Salad Bowl       18
Barbacoa Salad Bowl     10
Carnitas Salad Bowl      6
Bowl                     2
Name: item_name, dtype: int64

In [19]:
df.groupby(df.item_name[df.item_name.str.contains('Bowl')])['item_price'].value_counts()

item_name            item_price
Barbacoa Bowl        $9.25          28
                     $11.75         20
                     $8.99           8
                     $11.48          6
                     $8.69           3
                     $11.49          1
Barbacoa Salad Bowl  $11.89          5
                     $9.39           5
Bowl                 $22.20          1
                     $7.40           1
Carnitas Bowl        $9.25          22
                     $11.75         20
                     $8.99          14
                     $11.48          7
                     $11.08          3
                     $23.50          1
                     $35.25          1
Carnitas Salad Bowl  $11.89          4
                     $9.39           2
Chicken Bowl         $8.75         313
                     $11.25        228
                     $8.49         104
                     $10.98         42
                     $17.50         11
                     $16.98         10
                     $21.96          7
                     $22.50          3
                     $8.19           3
                     $8.50           2
                     $10.58          1
                     $26.25          1
                     $32.94          1
Chicken Salad Bowl   $8.75          56
                     $11.25         41
                     $22.50         10
                     $17.50          3
Steak Bowl           $11.75         74
                     $9.25          69
                     $8.99          45
                     $11.48         10
                     $23.50          4
                     $18.50          3
                     $11.08          2
                     $8.69           2
                     $17.98          1
                     $26.07          1
Steak Salad Bowl     $11.89         17
                     $9.39          10
                     $23.78          2
Veggie Bowl          $11.25         41
                     $8.75          24
                     $8.49          14
                     $10.98          4
                     $16.98          2
Veggie Salad Bowl    $11.25         10
                     $8.75           8
Name: item_price, dtype: int64

### We can do K-Means clustering on the item_name columns and data analysis solution on the item_description:

In [37]:
df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [50]:
df[df.item_name.str.contains('Veggie')].groupby('item_name')['choice_description'].count()

item_name
Veggie Bowl            85
Veggie Burrito         95
Veggie Crispy Tacos     1
Veggie Salad            6
Veggie Salad Bowl      18
Veggie Soft Tacos       7
Name: choice_description, dtype: int64

In [51]:
df[df.item_name.str.contains('Chicken')].groupby('item_name')['choice_description'].count()

item_name
Chicken Bowl            726
Chicken Burrito         553
Chicken Crispy Tacos     47
Chicken Salad             9
Chicken Salad Bowl      110
Chicken Soft Tacos      115
Name: choice_description, dtype: int64

In [52]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98