## Question - <br>Suppose you are given a data set of <a href='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'>Chipotle orders</a>. Using these data, can you make a plot showing total revenue per menu item? The solution will be written in Python code, walking through the logic/calculation. <br><br>Note, you'll probably want to classify the menu items into categories, or you'll have a very long list.

In [1]:
## Importing libraries
import pandas as pd

### Reading a tsv file using pd.read_csv with the separater/delimiter field as \t

In [4]:
df = pd.read_csv('chipotle.tsv', sep='\t')

In [5]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [12]:
df.item_name[df.item_name.str.contains('Bowl')].value_counts()

Chicken Bowl           726
Steak Bowl             211
Chicken Salad Bowl     110
Veggie Bowl             85
Carnitas Bowl           68
Barbacoa Bowl           66
Steak Salad Bowl        29
Veggie Salad Bowl       18
Barbacoa Salad Bowl     10
Carnitas Salad Bowl      6
Bowl                     2
Name: item_name, dtype: int64

In [10]:
df.groupby('item_name')['item_price'].value_counts()

item_name          item_price
6 Pack Soft Drink  $6.49         53
                   $12.98         1
Barbacoa Bowl      $9.25         28
                   $11.75        20
                   $8.99          8
                                 ..
Veggie Salad Bowl  $8.75          8
Veggie Soft Tacos  $11.25         2
                   $8.49          2
                   $8.75          2
                   $16.98         1
Name: item_price, Length: 209, dtype: int64